$padding-header: 20px 40px;
$padding-container: 0px 35px;
$padding-top: 30px 0px 0px 0px;
$padding-bottom: 0px 0px 30px 0px;
$padding-costados: 0px 30px;
$margin-top-bottom: 50px 0px;

$color-red: rgb(190, 30, 45);
$color-blanco: rgb(255, 255, 255);
$color-negro: rgba(0, 0, 0, 0.836);
$box-shadow: 5px 5px 13px 0px rgba(201, 200, 200, 0.637);
$box-shadow2: 5px 5px 13px 0px rgba(201, 200, 200, 0.822);
$color-negroblack: rgba(0, 0, 0, 0.712);
